<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" ...
              data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li> <a class="btn btn-primary" href="{{ url_for('Dresses') }}">
                  Dresses
                </a></li>
              <li><a class="btn btn-primary" href="{{ url_for('Gadgets') }}">
                  Gadgets
                </a></li>
              <li><a class="btn btn-primary" href="{{ url_for('Crockery') }}">
                  Crockery
                </a></li>

              <li><a class="btn btn-primary" href="{{ url_for('view_cart') }}">
                  view_cart
                </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- {%for row in data%}
    <button id="btn" class=" btn btn-primary" onclick="window.location.href='/Proceed/{{ row[0] }}';">Proceed to Buy</button>
    {%endfor%} -->
  </nav>


  <div class="row">
    {%for row in data %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static',filename=row[3]) }}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{row[0]}}</h5>
          <p class="card-text">{{row[1]}}</p>
          <p class="card-text"><span>Rupess:</span>₹{{row[2]}}</p>
          <p class="card-text"><span>Stock Left:</span>{{row[4]}}</p>

          <p id="qtn" class="card-text"><span>Quantity:</span><button class="btn btn-primary"
              onclick="window.location.href='/increment/{{ row[0] }}';">+</button>{{row[5]}}
            <button class="btn btn-primary" onclick="window.location.href='/decrement/{{ row[0] }}';">-</button>
          </p>
          <!-- <script> -->
          {%if row[5]==1 %}
          <p>Can't decrease the item below 0</p>
          {%endif%}
          <!-- </script>

           -->

          <button class="btn-danger" type="button" onclick="window.location.href='/delete_cart/{{ row[0] }}';">Delete
          </button>

          <button id="btn" class=" btn btn-primary" onclick="window.location.href='/Proceed/{{ row[0] }}';">Proceed to
            Buy</button>


        </div>
      </div>
    </div>

    {%endfor%}
  </div>
  <!-- <div>
    
    <table>
     {%for row in data%}
      <tr>
        <th>Product_name</th>
        <th>Image</th>
        <th>Cost</th>
        <th>Stock Left</th>
        <th>Quantity</th>
        <th>actions</th>
      </tr>
     <tr>
       <th>{{row[1]}}</th>
       <th><img src="{{ url_for('static',filename=row[3]) }}"></th>
       <th>{{row[2]}}</th>
       <th>{{row[4]}}</th>
       <th><button class="btn btn-primary" onclick="window.location.href='/increment/{{ row[0] }}';">+</button>{{row[5]}}
        <button class="btn btn-primary" onclick="window.location.href='/decrement/{{ row[0] }}';">-</button></th>
        <th> <button class="btn-danger" type="button" onclick="window.location.href='/delete_cart/{{ row[0] }}';">Delete
        </button></th>
     </tr>
     {%endfor%}
    </table>
   
  </div> -->



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>